.square {
    border:2px solid red;
    background-color: whitesmoke;
    float:left;
    box-sizing: content-box;
}

.squarelabel {
    position:absolute;
    font-size: 14px;
    line-height: 1;
    display: block;
}

.squarelabel.b {
    margin-left: -1em;
}

.squarelabel.a {
    margin-top: -1.5em;
}

.table.operations {
    width: auto;
    float:left;
    margin-right: 3em;
}

input.ng-invalid.ng-dirty {
    background-color: lightpink;
}

