.form-control.age{
    width: 5em;
    display:inline-block;
    vertical-align: top;
}


.todo:before {
}
.todo {
    font-size: smaller;
    color: grey;
}
.has-success .checkbox {
    color: inherit;
}

.age.checkbox {
    display: inline-block;

}