@import url(http://fonts.googleapis.com/css?family=Bangers);

html {
    min-height: 100%;
}

body {
    min-height: 100%;
}
.container {
    margin-right: 400px;
    margin-left: 100px;
    max-width: 700px;
}

.panel.results .panel-body{
    max-width: 450px;
    font-size: small;
    background-color: antiquewhite;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
}

.extruded {
    position: relative;
    text-shadow: #BBB 1px 1px, #BBB 2px 2px, #BBB 3px 3px, #BBB 4px 4px, #BBB 5px 5px, #BBB 6px 6px, #BBB 7px 7px, #BBB 8px 8px;

}